.sign-text {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  margin-right: 12px;
}

.menu-link-page {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
