@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?;400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  max-width: 1512px;
  margin: 0 auto;
  padding: 12px;
}

.main-button {
  font-family: "Montserrat", sans-serif;
  background-color: #ff385c !important;
  /*      background: rgb(80, 200, 120); */
  /*   background: rgb(68, 198, 111) !important; */
  color: #fff !important;
  padding: 8px;
  color: #111;
  font-weight: 600;
  font-size: 12px;
  border-radius: 6px;
  transition: 0.4s ease;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  border: none;
  outline: none;
}

.button-outlined {
  font-family: "Montserrat", sans-serif;
  background-color: #ff385c !important;
  /*   background: rgb(80, 200, 120);
  background: linear-gradient(
    90deg,
    rgba(80, 200, 120, 1) 30%,
    rgba(68, 218, 117, 1) 85%
  ); */
  color: #fff !important;
  padding: 8px;
  color: #111;
  font-weight: 600;
  font-size: 12px;
  border-radius: 6px;
  transition: 0.4s ease;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  border: none;
  outline: none;
}
.button-outlined:hover {
  background-color: #fb2950 !important;
  cursor: pointer;
}

.error-form {
  color: #ff385c;
  font-size: 14px;
  font-weight: 500;
}

.swiper-wrapper {
  height: 150px !important;
}
.swiper-post {
  height: 350px !important;
}

.subscribe-button {
  font-family: "Montserrat", sans-serif;
  /*   background-color: #FF385C!important; */
  /*   background: rgb(80, 200, 120); */
  /*  background: rgb(111, 222, 148) !important; */
 /*  background-image: linear-gradient(
    90deg,
    rgba(255, 27, 68, 1) 41%,
    rgb(223, 47, 99) 100%
  ); */
  background-color: #ff385c !important;
  color: #fff !important;
  padding: 8px;
  color: #111;
  font-weight: 600;
  font-size: 12px;
  border-radius: 6px;
  transition: 0.6s ease;
  transition:all 0.7s ease-out;
  -webkit-box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 12px 1px rgba(34, 60, 80, 0.2);
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.unsubscribe-button {
  background-color: #f0758b!important;
}